@using Rtrw.Client.Wasm.Components.Enums
@if (Symbol == Symbol.Bullet)
{
    <span style="color: @Color">&#8226;</span>
}
@if (Symbol == Symbol.AtSymbol)
{
    <span style="color: @Color">&#64;</span>
}
@if (Symbol == Symbol.CopyrightSign)
{
    <span style="color: @Color">&#169;</span>
}
@if (Symbol == Symbol.RegisteredTradeMarkSign)
{
    <span style="color: @Color">&#174;</span>
}
@if (Symbol == Symbol.TradeMarkSign)
{
    <span style="color: @Color">&#8482;</span>
}

@code {
    [Parameter] public Symbol Symbol { get; set; } = Symbol.Bullet;
    [Parameter] public ThemeColor Color { get; set; } = ThemeColor.Default;
}