@page "/auth/login/{returnUrl?}"
@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Components.Mask
@using Rtrw.Client.Wasm.Services
@using Rtrw.Client.Wasm.Validators
@using Rtrw.Client.Wasm.ViewModels
@attribute [AllowAnonymous]
@layout AuthBaseLayout
@inject NavigationManager NavigationManager
@inject IAccountService AccountService

<div class="login-container" tabindex="-1">
    <div class="login-title">Selamat Datang Kembali!</div>
    <RtrwForm Model="loginRequest" @ref="loginForm" Validation="@(loginRequestFluentValidator.ValidateValue)" @bind-IsValid="@validated">
        @*Phone number field*@
        <RtrwTextField T="string"
                       @bind-Value="loginRequest.Phone"
                       For="@(()=>loginRequest.Phone)"
                       Label="No. Telp"
                       Variant="Variant.Outlined"
                       Adornment="Adornment.End"
                       Immediate
                       Required
                       Clearable
                       MaxLength="100">
            <AdornmentContent>
                @if (emailExist)
                {
                    <RtrwSvgCheckCircleFill />
                }
            </AdornmentContent>
        </RtrwTextField>

        @*Password field*@
        <RtrwTextField T="string"
                       InputType="@(passwordVisible? InputType.Text:InputType.Password)"
                       @bind-Value="loginRequest.Password"
                       For="@(()=>loginRequest.Password)"
                       Variant="Variant.Outlined"
                       Label="Kata Sandi"
                       Adornment="Adornment.End"
                       Immediate
                       Required
                       Clearable
                       OnAdornmentClick="ChangePasswordVisibility"
                       MaxLength="100">
            <AdornmentSvg>
                @if (passwordVisible)
                {
                    <div><RtrwSvgEyeOpen /></div>
                }
                else
                {
                    <div><RtrwSvgEyeClosed /></div>
                }
            </AdornmentSvg>
        </RtrwTextField>

        <div class="rtrw-margin-end-auto lupa-kata-sandi" type="button" @onclick="@(()=>NavigationManager.NavigateTo("/account/forgot-password"))">Lupa kata sandi?</div>
        @*<div class="rtrw-inline-flex rtrw-justify-content-between rtrw-align-items-center rtrw-width-100">
            <div class="rtrw-margin-start-auto" style="font-size: 14px; color: var(--rtrw-info)" type="button" @onclick="LoginAsToni">Login as Toni</div>
        </div>*@

        @*Login button*@
        <div class="rtrw-flex rtrw-justify-content-center">
            <RtrwButton Type=ButtonType.Button
                        Variant=Variant.Filled
                        Color=ThemeColor.Primary
                        Disabled="@(!validated)"
                        FullWidth="false"
                        Class="rtrw-align-self-center"
                        Style="align-self:center; border-radius: 22px; min-height: 44px; min-width:300px">
                @if (submitted)
                {
                    <RtrwSpinner Color="ThemeColor.Primary" Indeterminate />
                }
                else
                {
                    @buttonLabel
                }
            </RtrwButton>
        </div>
    </RtrwForm>
    <hr class="garis-horizontal" />
    <div class="rtrw-text-center">Baru di RTRW? Gabung <a class="rtrw-text-primary rtrw-text-decoration-underline" href="auth/register">di sini</a></div>
</div>

@code {
    LoginRequest loginRequest = new();
    bool validated;
    bool passwordVisible;
    bool submitted;
    bool emailExist;
    string buttonLabel = "Masuk RTRW";
    RtrwForm loginForm;
    LoginRequestFluentValidator loginRequestFluentValidator = new();
    [Parameter] public string? ReturnUrl { get; set; }
    [CascadingParameter] AuthBaseLayout Parent { get; set; }
    protected override void OnInitialized()
    {
        ReturnUrl = ReturnUrl ?? "/";
        Parent.Appbar = true;
        Parent.Title = string.Empty;
        base.OnInitialized();
    }
    async void OnValidSubmitHandler()
    {
        var login = await AccountService.LoginAsync(loginRequest);
        if (login)
        {
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else
        {
            return;
        }
    }

    async Task<bool> CheckIfEmailExistOnDatabase(string email)
    {
        emailExist = await AccountService.CheckIfEmailExistOnDatabase(email);
        return emailExist;
    }

    async Task<bool> CheckIfPhoneExistOnDatabase(string email)
    {
        return await AccountService.CheckIfEmailExistOnDatabase(email);
    }

    void ChangePasswordVisibility() => passwordVisible = !passwordVisible;

    void LupaKataSandi()
    {
        return;
    }
}
