@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Models
@using Rtrw.Client.Wasm.Svgs
@using Rtrw.Client.Wasm.Utilities
<CascadingValue Value="this">
    <div class="page-body">
        <div class="page-body-content">
            <div class="page-body-input-container">
                <RtrwTextField @bind-Value="Post.TopikLiputan"
                               Label="Topik (Keamanan-Ketertiban/Kebersihan/Lainnya)"
                               Clearable
                               Immediate
                               Variant="Variant.Outlined">
                </RtrwTextField>
                <PostInputTextarea Placeholder="Apa yang #terjadi di RTRW kamu, &#64;kelurahan" Text="@Post.Text" />
                <div style="margin: 4px 16px 4px 16px; ">
                    <TambahLokasi PostLocation="@Post.PostLocation" />
                </div>

                <div style="margin: 4px 16px 4px 16px; overflow-x: scroll; overflow-y: hidden; white-space:nowrap;">
                    <TambahFoto Media="@Post.Media" />
                </div>

                <div style="margin: 4px 16px 4px 16px; ">
                    <TambahPoll Poll="@Post.Poll" />
                </div>
            </div>
        </div>
        @Post.Text
    </div>
</CascadingValue>

@code {
    [CascadingParameter] public Post Post { get; set; } = new();
}