@using Microsoft.EntityFrameworkCore
@using Rtrw.Client.Wasm.Components.Base
@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Enums
@using Rtrw.Client.Wasm.Extensions
@using Rtrw.Client.Wasm.Features.Post.Components
@using Rtrw.Client.Wasm.Models
@using Rtrw.Client.Wasm.Services
@using Rtrw.Client.Wasm.Utilities
@inherits RtrwComponentBase
@inject NavigationManager NavigationManager
@inject IPostService PostService
@inject ICurrentUser CurrentUser

<CascadingValue Value="@Post" IsFixed="true">
    <PostContainer>
        <PostHeader>
            <Flex Direction="FlexDirection.Row" Gap="8">
                <AvatarWarga Id="@Post.Author.Id" Size="40" AvatarUrl="@Post.Author.AvatarUrl" />
                <FlexItem AlignSelf="FlexAlignSelf.FlexStart">
                    <Flex Direction="FlexDirection.Column">
                        <InfoWarga FullName="@Post.Author.FullName" Kelurahan="@Post.Author.Geocoder.Kelurahan" />
                        <PostTimeSpan DateTime="@Post.CreatedAt" />
                    </Flex>
                </FlexItem>
                <FlexItem AlignSelf="FlexAlignSelf.FlexStart" Class="rtrw-margin-start-auto">
                    <ReportIconButton />
                </FlexItem>
            </Flex>
        </PostHeader>
        <PostBody>
            @if (@Post?.Media.Count != 0)
            {
                <RtrwConveyor Media="@Post?.Media" BorderRadius="12px" Height="250px" />
            }
            <PostText Text="@Post?.Text" PostId="@Post?.Id" MaxCharacter="160" Truncate />
            <PostGeocoder Geocoder="@Post?.PostGeocoder" />
        </PostBody>
        <PostFooter>
            <LastThreeReaction Reactions="@Post.Reactions" />
            <RtrwSpacer />
            <AddReaction NewReaction="@AddCurrentUserReaction" RemoveReaction="@RemoveCurrentUserReaction" />
            <RtrwButton Style="gap: 8px">
                <RtrwSvgComment />
                @if (Post.Comments?.Count > 0)
                {
                    <span class="message-count-label">@Post.Comments?.Count</span>
                }
            </RtrwButton>
            <RtrwButton Style="margin-right: -22px;">
                <RtrwSvgShare />
            </RtrwButton>
        </PostFooter>
    </PostContainer>
</CascadingValue>

@code {
    [Parameter] public string PostId { get; set; } = string.Empty;
    [Parameter] public bool NoPadding { get; set; }
    Post Post { get; set; } = new();
    int selectedIndex;
    bool currentUserHasReacted;
    Emoji currentEmoji;

    async Task AddCurrentUserReaction(Emoji emoji)
    {
        var reaction = new Reaction() { Reactor = CurrentUser.Warga, Emoji = emoji };
        var post = await PostService.GetPostByIdAsync(Post.Id);
        var userHasReacted = post.Reactions.Any(x => x.Reactor.Id == reaction.Reactor.Id);
        if (!userHasReacted)
        {
            post.Reactions.Add(reaction);
            //await PostService.SavePostAsync(post);
        }
        Post = post;
        StateHasChanged();
    }

    async Task RemoveCurrentUserReaction()
    {
        var currentUserReaction = Post.Reactions.FirstOrDefault(x => x.Reactor.Id == CurrentUser.Warga.Id);
        if (currentUserReaction != null)
        {
            Post.Reactions.Remove(currentUserReaction);
            //await PostService.SaveChangesAsync();
        }
        StateHasChanged();
    }

    Task CheckIfCurrentUserHasReacted()
    {
        var currentUserReaction = Post.Reactions.FirstOrDefault(x => x.Reactor.Id == CurrentUser.Warga.Id);
        if (currentUserReaction != null)
        {
            currentUserHasReacted = true;
            currentEmoji = currentUserReaction.Emoji;
        }
        else
        {
            currentUserHasReacted = false;
        }
        return Task.CompletedTask;
    }

    protected override async Task OnParametersSetAsync()
    {
        Post = await PostService.GetPostByIdAsync(PostId);
    }
    protected string PostListItemStyle => new StyleBuilder().AddStyle("padding", "0", NoPadding).AddStyle(Style).Build();
}