@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Enums
@using Rtrw.Client.Wasm.Extensions
@using Rtrw.Client.Wasm.Services
@inject ICurrentUser CurrentUser
@inject IPostService PostService

<div class="rtrw-flex rtrw-justify-content-start rtrw-align-items-start rtrw-gap-8px rtrw-width-100">
    <div class="rtrw-avatar rtrw-avatar-36px">
        @if (!string.IsNullOrEmpty(Comment.Commenter.AvatarUrl))
        {
            <img src="@Comment.Commenter.AvatarUrl" />
        }
        else
        {
            @Comment.Commenter.FullName.ToUpper().FirstOrDefault()
        }
    </div>

    <div class="rtrw-flex rtrw-flex-col rtrw-width-100">
        <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-start">
            <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-center rtrw-gap-8px rtrw-margin-end-auto">
                <span class="comment-author-name">@Comment.Commenter.FullName</span>
                <span style="color:black">&bull;</span>
                <span class="comment-author-kelurahan">@Comment.Commenter.Geocoder?.Kelurahan</span>
            </div>

            <RtrwIconButton Style="padding: 6px; margin-top: -6px; margin-right: -6px">
                <RtrwSvgThreeDotHorizontal Style="color:#716464" />
            </RtrwIconButton>
        </div>
        <div class="comment-body">@Comment.Text</div>
        <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-center">
            <div class="rtrw-flex rtrw-justify-content-start rtrw-align-items-center rtrw-gap-8px rtrw-margin-end-auto">
                <div style="font-size: 14px; color: #382d2d;">@Comment.CreatedAt.TimeSpanToString()</div>
                <LastThreeReaction Reactions="@Comment.Reactions" />
            </div>
            <div class="rtrw-margin-start-auto">
                <AddReaction />
                <RtrwButton Color="ThemeColor.Primary">Balas</RtrwButton>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string CommentId { get; set; } = default!;
    Comment Comment => PostService.GetCommentByIdAsync(CommentId).Result;
}