@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Components.Extensions
@using Rtrw.Client.Wasm.Utilities
@inject NavigationManager NavigationManager

<div @attributes="@Attributes" class="@ClassName" style="@StyleName" type="button" @onclick="@(()=>NavigationManager.NavigateTo($"/profile/{Id}"))">
    @if (string.IsNullOrEmpty(AvatarUrl))
    {
        <svg id="user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
            <circle id="Ellipse_166" data-name="Ellipse 166" cx="22.5" cy="22.5" r="22.5" fill="#9001b2" />
            <path id="Path_3171" data-name="Path 3171" d="M244.221,175.137s1.22,16.993,1.851,24.226A22.509,22.509,0,0,0,267.2,181.879l-12.624-12.624Z" transform="translate(-222.756 -154.379)" fill="#55006a" />
            <path id="Path_3172" data-name="Path 3172" d="M128.087,252.75H106.648a2.639,2.639,0,0,0-2.639,2.639v14.132a22.5,22.5,0,0,0,26.717,0V255.389A2.639,2.639,0,0,0,128.087,252.75Z" transform="translate(-94.868 -230.536)" fill="#707070" />
            <path id="Path_3173" data-name="Path 3173" d="M266.2,252.75h-10.77v21.165h.05a22.4,22.4,0,0,0,13.359-4.395V255.389A2.639,2.639,0,0,0,266.2,252.75Z" transform="translate(-232.976 -230.536)" fill="#4c4c4c" />
            <path id="Path_3174" data-name="Path 3174" d="M120.765,306.606l-4.479-.795-.792-1.025a.591.591,0,0,0-.67-.173l-4.14-.146-4.115.148a.592.592,0,0,0-.669.166l-.817,1.03-4.479.795a4.5,4.5,0,0,0-3.922,4.245v6.967a22.5,22.5,0,0,0,28,0v-6.967A4.5,4.5,0,0,0,120.765,306.606Z" transform="translate(-88.185 -277.707)" fill="#efefef" />
            <path id="Path_3175" data-name="Path 3175" d="M265.557,306.607l-4.479-.795-.792-1.025a.591.591,0,0,0-.67-.173l-4.14-.146-.05,0v18.238h.05a22.4,22.4,0,0,0,14-4.889v-6.967A4.5,4.5,0,0,0,265.557,306.607Z" transform="translate(-232.976 -277.708)" fill="#bcbcbc" />
            <path id="Path_3176" data-name="Path 3176" d="M170.159,306.443l-3.553-.63-.792-1.025a.591.591,0,0,0-.67-.173l-4.14-.146-4.115.148a.592.592,0,0,0-.669.166l-.817,1.03-3.553.63a7.244,7.244,0,0,0,5.289,2.287h7.729A7.244,7.244,0,0,0,170.159,306.443Z" transform="translate(-138.506 -277.708)" fill="#c6c6c6" />
            <path id="Path_3177" data-name="Path 3177" d="M261.077,305.812l-.792-1.025a.591.591,0,0,0-.67-.173l-4.14-.146-.05,0v4.259h3.915a7.245,7.245,0,0,0,5.289-2.287Z" transform="translate(-232.976 -277.708)" fill="#7f7f7f" />
            <path id="Path_3178" data-name="Path 3178" d="M144.346,146.965h-7.729a7.267,7.267,0,0,1-7.267-7.267v-1.527a8.9,8.9,0,0,1,8.9-8.9h4.471a8.9,8.9,0,0,1,8.9,8.9V139.7A7.267,7.267,0,0,1,144.346,146.965Z" transform="translate(-117.982 -117.914)" fill="#efefef" />
            <path id="Path_3179" data-name="Path 3179" d="M257.712,129.277h-2.286v17.689h3.915a7.267,7.267,0,0,0,7.267-7.267v-1.526A8.9,8.9,0,0,0,257.712,129.277Z" transform="translate(-232.976 -117.915)" fill="#d8d8d8" />
            <path id="Path_3180" data-name="Path 3180" d="M156.461,199.307a1.984,1.984,0,0,0-1.925,1.5,7.83,7.83,0,0,0-.234,1.907h0a6.386,6.386,0,0,0,6.386,6.386h5.1a6.386,6.386,0,0,0,6.386-6.386h0a7.829,7.829,0,0,0-.234-1.907,1.984,1.984,0,0,0-1.925-1.5H156.461Z" transform="translate(-140.739 -181.79)" fill="#ffc61b" />
            <path id="Path_3181" data-name="Path 3181" d="M264.179,200.81a1.984,1.984,0,0,0-1.925-1.5h-6.829V209.1h2.6a6.386,6.386,0,0,0,6.386-6.386A7.827,7.827,0,0,0,264.179,200.81Z" transform="translate(-232.976 -181.794)" fill="#d48b07" />
            <path id="Path_3182" data-name="Path 3182" d="M168.081,440.666a22.6,22.6,0,0,0,15.454,0v-3.815a1.566,1.566,0,0,0-1.566-1.566H169.647a1.566,1.566,0,0,0-1.566,1.566v3.815Z" transform="translate(-153.308 -397.029)" fill="#bababa" />
            <g id="Group_1506" data-name="Group 1506" transform="translate(22.449 28.764)">
                <path id="Path_3183" data-name="Path 3183" d="M261.636,435.286h-6.212v6.742h.05a22.457,22.457,0,0,0,7.727-1.362v-3.815A1.565,1.565,0,0,0,261.636,435.286Z" transform="translate(-255.424 -425.792)" fill="#7f7f7f" />
                <path id="Path_3184" data-name="Path 3184" d="M362.02,327.268v14.221q.973-.443,1.894-.975V327.737a5.311,5.311,0,0,0-1.132-.333Z" transform="translate(-352.651 -327.268)" fill="#7f7f7f" />
            </g>
            <path id="Path_3185" data-name="Path 3185" d="M128.431,327.735v12.777q.921.53,1.894.975V327.266l-.762.135A5.32,5.32,0,0,0,128.431,327.735Z" transform="translate(-117.143 -298.502)" fill="#bababa" />
        </svg>
    }
    else
    {
        <img src="@AvatarUrl" class="avatar-img"/>
    }
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public Dictionary<string, object>? Attributes { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter] public string? AvatarUrl { get; set; }
    [Parameter] public int? Size { get; set; } = 24;
    [Parameter] public bool Square { get; set; } = false;

    protected string ClassName
        => new CssBuilder("avatar")
            .AddClass("avatar-square", Square)
            .AddClass(Class, !string.IsNullOrEmpty(Class))
            .Build();

    protected string StyleName
        => new StyleBuilder()
            .AddStyle("width", Size.ToPx(), Size>=0)
            .AddStyle("height", Size.ToPx(), Size>=0)
            .AddStyle(Style)
            .Build();

}