<div class="rtrw-flex rtrw-justify-content-start rtrw-align-items-start rtrw-gap-8px rtrw-width-100">
    <div class="rtrw-avatar rtrw-avatar-36px">
        @if (!string.IsNullOrEmpty(Comment.Commenter.AvatarUrl))
        {
            <img src="@Comment.Commenter.AvatarUrl" />
        }
        else
        {
            @Comment.Commenter.FirstName.ToUpper().FirstOrDefault()
        }
    </div>
    <div class="rtrw-flex rtrw-flex-col rtrw-width-100">
        <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-start">
            <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-center rtrw-gap-8px rtrw-margin-end-auto">
                <span class="comment-author-name">@Comment.Commenter.FullName</span>
                <span style="color:black">
                    &bull;
                </span>
                <span class="comment-author-kelurahan">@Comment.Commenter.Location?.Kelurahan</span>
            </div>
            <RtrwIconButton Style="padding: 6px; margin-top: -6px; margin-right: -6px">
                <RtrwSvgThreeDotHorizontal />
            </RtrwIconButton>
        </div>
        <div class="comment-body">
            @Comment.Text
        </div>
        <div class="rtrw-flex rtrw-justify-content-between rtrw-align-items-center">
            <div class="rtrw-flex rtrw-justify-content-start rtrw-align-items-center rtrw-gap-8px rtrw-margin-end-auto">
                <div>@Comment.CreatedAt.TimeSpanToString()</div>
                <LastThreeReaction Reactions="@Comment.Reactions" />
            </div>
            <div class="rtrw-margin-start-auto">
                <AddReaction />
                <RtrwButton>Balas</RtrwButton>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject] public IPostService PostService { get; set; }
    [Parameter] public string CommentId { get; set; } = default!;
    Comment Comment => PostService.GetCommentByIdAsync(CommentId).Result;
}