@namespace Rtrw.Client.Wasm.Components
@inherits RtrwComponentBase

@if (!IsInline)
{
    <div @attributes="UserAttributes" class="@ContentClass" style="@ContentStyle">@ModalContent</div>

    @if (FooterContent != null)
    {
        <div class="@FooterClass">@FooterContent</div>
    }
}